# requirements.in
# pip-compile --output-file=requirements.txt requirements.in
# Base FastAPI
fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-multipart
pydantic[email]
email-validator
sse-starlette

# Base de données
sqlalchemy
sqlalchemy-utils
asyncpg
psycopg2-binary
alembic

# Cache et Monitoring
redis
psutil
memory-profiler

# Elasticsearch et Vectorisation
elasticsearch
elastic-transport
langchain-elasticsearch

# LangChain et intégrations
langchain
langchain-core
langchain-community
langchain-huggingface
langchain-text-splitters
sentence-transformers

# Traitement du langage et IA
transformers
torch
tokenizers
accelerate
optimum
safetensors

# Recherche vectorielle
faiss-cpu
pgvector

# Utilitaires asynchrones
aiohttp
aiofiles  # Ajouté pour les opérations fichiers asynchrones
httpx

# Google Drive
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client

# Utilitaires et optimisation
python-dotenv
tenacity
aiohttp
httpx
urllib3
pathspec
packaging
typing-extensions
typing-inspect

# Traitement PDF et Images
pdf2image
Pillow
PyMuPDF
PyPDF2

# Gestion des logs
python-json-logger
structlog
loguru

# Tests
pytest
pytest-asyncio
pytest-cov
pytest-mock
hypothesis

# Sécurité
python-jose[cryptography]
passlib[bcrypt]
